body{
    width: 100%;
    height: 300px;
}
.preload_item{
    width: 90px;
    height: 90px;
    border: 10px solid #3f495a;
    border-bottom: 15px double #d17700;
    border-top: 15px double #d17700;
    border-radius: 10px;
    animation: spin 2.5s linear infinite;
    margin: 23% auto 0px auto;
    position: relative;
    z-index: 1;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.shadows{
    float: left;
    width: 100px;
    height: 100px;
    margin: -30px auto 0px 47%;
    animation: spin 2.5s linear infinite;
    z-index: 0;
    
}
.shadow1{
    float: left;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 20px #e0e0e0;
}
.shadow2{
    float: left;
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 20px #e0e0e0 inset;
    margin-left: -100px;
}