a{
    color: #fff;
}

body {
    font-family: "FranklinGot", sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.orange-line {
    border: none;
    width: 70px;
    height: 5px;
    opacity: 1;
    background-color: #eb7800;
    margin: 30px auto 0px auto;
}

h2 {
    font-size: 25px;
    color: #1a2e43;
    text-transform: uppercase;
    font-weight: bold;
}

nav {
    height: 60px;
    line-height: 60px;
    background: #2a3e51;

}

.logo {
    color: #fff;
    font-size: 24px;
}
header ul{
    margin: auto 0;
}
header li{
    float: left;
    line-height: 60px;
    margin-right: 30px;
    font-size: 13px;
    color: #eee;
    text-transform: uppercase;
    text-decoration: none;
}

header a {
    text-decoration: none;
    line-height: 60px;
    font-size: 13px;
    text-transform: uppercase;
    color: red;
}

header a:visited {
    color: #ddd;
}

.header {
    border: 2px solid #aaa;
    height: 60px;
    width: 100%;
}

.present-page-sect {
    width: 100%;
    height: 100vh;
    background: url(../img/Shadow.png) 100% calc(100% + 34px) no-repeat, url(../img/guy.png) 90% bottom/auto 85% no-repeat, url(../img/BG1.jpg) left top/cover no-repeat;
}

.present-page-container p {
    font-size: 20px;

}

h1 {
    margin-top: 30%;
    color: #213549;
    font-weight: bold;
    font-size: 60px;
}

.title-container {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.title-container input {
    border: 2px solid #697784;
    border-radius: 5px;
    font-size: 18px;
    color: #697784;
    padding: 5px 12px;
    margin: 60px 15px;
    background: none;
}

.title-container > p {
    margin-top: 40px;
    color: #7e8996;
    z-index: 10;
}

@media (max-width: 991px) {

    .title-container,
    .title-container h1,
    .title-container input,
    .title-container p {
        color: white;
        border-color: white;
        z-index: 3;
    }


    .present-page-sect:after {
        height: 100%;
        content: "";
        position: absolute;
        top: 0px;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1;
    }

}


.about-me-container {
    padding-top: 110px;
    padding-bottom: 80px;
    color: #6f7180;

}

.about-me-container img {
    margin-top: 60px;
}

.about-me-p1 {
    margin-top: 20px;
    margin-bottom: 35px;
}

.download-button {
    margin: 30px auto 0px;
    border: 2px solid #6f7180;
    border-radius: 6px;
    width: 160px;
    background: url(../img/rezume.png)6% 50%/auto no-repeat;
}

.download-button input {
    margin-left: 15px;
    color: #6f7180;
    background: none;
}

.what-i-can-section {
    padding-top: 150px;
    padding-bottom: 90px;
    width: 100%;
    background: url(../img/BG2.jpg) center/cover no-repeat;
}

.what-i-can-container {}

.what-i-can-section h3 {
    color: #e87700;
    font-weight: bold;
    font-size: 16px;
}

.what-i-can-section hr {
    margin-bottom: 110px;
}

@media (max-width: 768px) {
    .what-i-can-section hr {
        margin-bottom: 40px;
    }
}

.what-i-can-section p {
    color: #38475a;
    font-size: 11px;
    font-weight: bold;
}

.gramafon {
    margin-bottom: 95px;
}

.keys-container {
    padding-top: 90px;
    padding-bottom: 90px;
}




.site-not-open {
    /*    border: 4px solid #111;*/
    width: 100%;
    height: auto;

}

.popup-fade {
    display: none;
}

.popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 9999;
}

.popup {
    position: fixed;

    top: 2%;
    left: 7%;
    right: 7%;
    margin: 0 auto;
    padding: 4px;
    background: #fff;
    border: 3px solid #697784;
    border-radius: 5px;
    z-index: 99999;
    opacity: 1;
}

.popup a {
    color: #fff;
}

.popup a:hover {
    color: #ddd;
}

.popup-close {
    position: absolute;
    margin-right: -20px;
    border-radius: 5px;
    padding: 2px 4px;
    background: #697784;
    text-decoration: none;
    top: 9px;
    right: 29px;
    font-size: 13px;
}



.keys-container img {
    width: 100%;
    height: auto;
}

.discription {
    margin-top: 36px;
    margin-bottom: 50px;
    font-size: 13px;
}

.keys-container {
    color: #455466;
}

.under-img h3 {
    color: #304154;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
}

.under-img p {
    font-size: 13px;
}

.under-img-disctription {
    font-size: 16px;
}

.under-img {
    margin-top: 15px;
}

.under-img-2col {
    margin-top: 15px;
}

.keys-container input {
    border-radius: 5px;
    background: #00b6af;
    padding: 5px 28px;
    color: white;
    text-align: center;
    font-size: 15px;
}

.cost-calc-container {
    padding-top: 90px;
    padding-bottom: 10px;
}

.cost-calc-block {
    padding: 35px;
    box-shadow: 0px 0px 10px #999;
    border-radius: 1px;
}

.cost-calc-block select {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: #666;
    font-size: 13px;
    padding-left: 15px;
}

.cost-calc-block h3 {
    color: #102031;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

.cost-calc-block hr {
    border: none;
    border-radius: 2px;
    width: 100%;
    height: 2px;
    background: #d2d2d2;
    opacity: 1;
    margin-bottom: 5px;
    margin-top: 20px;
}

.cost-time,
.cost-time-words {
    font-size: 13px;
    color: #102031;
    font-weight: bold;
}

.cost-time {
    text-align: end;
}

.cost-calc-block input {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    background: #00b6af;
    color: white;
}

.img-box-smile {
    background: url(../img/smile.png)100% center no-repeat;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.img-box-skobki {
    background: url(../img/skobki.png) 100% center no-repeat;
    width: 70px;
    height: 60px;
    margin: 0 auto;
}

.img-box-galochka {
    background: url(../img/galochka.png) 100% center no-repeat;
    width: 70px;
    height: 60px;
    margin: 0 auto;
}

.img-box-cubok {
    background: url(../img/cubok.png) 100% center no-repeat;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.statistic-section {
    margin-top: 80px;
    background: url(../img/BG3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.statistic-container {
    padding-top: 80px;
    padding-bottom: 90px;
}

.statistic-icons {
    color: #1a2e43;
    font-size: 15px;
    margin-top: 50px;
}

.lines{
	font-size: 32px;
}

.reviews-container {
    color: #172c40;
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: 13px;
}

.reviews-container hr {
    margin-bottom: 50px;
}


.carousel-inner p, .carousel-inner h5{
    color: #1a2e43;
}

.contacts-section {
    background: url(../img/BG4.jpg) center/cover no-repeat;
}

.contacts-container {
    padding-top: 100px;
    padding-bottom: 90px;
}

.contacts-container p {
    color: #fff;
}

.contacts-container hr {
    margin-bottom: 30px;
}

.contacts-icons img {
    margin-top: 30px;
}

.contacts-form {
    margin-top: 40px;
}

.contacts-form input {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 1px;
    padding-left: 5px;
    opacity: 0.8;
}

.contacts-form textarea {
    width: 100%;
    border-radius: 1px;
    padding-left: 5px;
    opacity: 0.8;
    margin-bottom: 30px;
}

.contacts-container h2 {
    color: #fff;
}

@media(min-width: 576px) {
    .del-md {
        display: none;
    }
}

@media (max-width: 576px) {
    .contacts-section {
        background: #2c3e51;
    }
}

.map {
    background: url(../img/google_map.jpg) center/cover no-repeat;
    height: 300px;
    width: 100%;
}

.map-section img {
    display: block;
    text-align: center;
    vertical-align: middle;
}

footer {
    height: 90px;
    width: 100%;
    background: #2c3d50;
}

footer p {
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 90px;
    margin-bottom: 0;
}

.delay-window-display{
    display: none;
}
.delay-window-bg{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    z-index: 10000;
}

.delay-window {
    position: fixed;
    top: 50px;
    left: 50px;
    right: 50px;
    opacity: 1;
    padding: 25px;
    width: auto;
    max-width: 400px;
    margin: 0 auto;
    z-index: 10001;
    background: #f3f0f6;
    border: 8px double #1a2e43;
    border-radius: 20px;
    text-align: center;
}
.delay-window{
    font-size: 20px;
    color: #1a2e43;
    text-decoration: none;
    text-transform: uppercase;
}
.close-delay-submit{
    align-self: center;
    display: none;
    position: fixed;
    top: 29vh;
    left: 50px;
    right: 50px;
    opacity: 1;
    padding: 25px;
    width: auto;
    max-width: 500px;
    margin: 0 auto;
    z-index: 10002;
    border: 2px solid #1a2e43;
    border-radius: 20px;
    padding: 3px 4px;
    background: #f3f0f6;
    color: #1a2e43;
    
}

